h1 {
  color: #b8b8b8;
}

body {
  background-color: #2e282a;
}

#info-flex-container {
  display: flex;
  flex-direction: column;
}

#explanation-container {
  width: 400px;
  border: 1px solid black;
  padding: 15px;

  color: white;
}

#analysis-button {
  width: 400px;
  margin-bottom: 10px;
}

#reset-button {
  width: 400px;
  color: white;
  background-color: #69140e;
}

#next-button {
  width: 400px;
  color: white;
  background-color: black;
  margin-bottom: 10px;
}

#end-button {
  width: 400px;
  color: white;
  background-color: black;
  margin-top: 20px;
}

#pros-analysis {
  color: #44e63b;
}

#cons-analysis {
  color: #ecc45f;
}

#warning-paragraph {
  color: #f1a9a0;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #4f517d;
}

@media all and (max-width: 1150px) {
  .main-container {
    flex-direction: column;
    width: 700px;
  }

  #info-container {
    margin-left: 0px;
  }
}
